@charset "utf-8";

.bo_top_img{position:absolute;top:0;left:0;width:100%;height:420px;overflow:hidden;text-align:center; display:none}
.bo_top_img img {position: absolute;top: 0;left: -9999px;right: -9999px;margin: auto;width:100%;height:auto; 
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: blur(3px);}

/* 기본 외 커스텀 */
#faq_wrapper h1{
     font-size:35px;
     color:#040810;
}
.faq_tit{
     padding-top:90px;
     padding-bottom:15px;
     margin-bottom:43px;
     width:1140px;
     margin:auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid #202A3E;
}
.faq_tit .direct_btn{
     padding :15px 22px;
     box-sizing: border-box;
     border-radius: 100px;
     background:#CDDEFF;
     color:#2D72DB;
     font-size: 16px;
     font-weight: 600;
     display: flex;
     align-items: center;
}
.faq_tit .direct_btn img{
     margin-left:5px;
}
     

 @media (max-width: 969px){
      .bo_top_img {height:200px}
 }
#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate {background:#fff;color:#333;border-bottom:1px solid #eee;
white-space: nowrap;overflow-x: auto;
-webkit-overflow-scrolling: touch
 -ms-overflow-style: -ms-autohiding-scrollbar;}
#bo_cate::-webkit-scrollbar {display: none;}
#bo_cate ul{margin:0 auto;max-width:1200px;padding:0 10px}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_cate li{display:inline-block}
#bo_cate li a{display:block;padding:0 15px;line-height:55px;color:#333947}
#bo_cate #bo_cate_on{position:relative;font-weight:bold;color:#ea185f}
#bo_cate #bo_cate_on:before{width:100%;content:'';height:2px;background:#ea185f;position:absolute;bottom:0;left:0}


#faq_wrap {margin:10px auto;max-width:1200px;padding:20px}
#faq_wrap h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.faq_admin {margin:0 5px;text-align:right}
#faq_con li a p{
     display: inline-block;
     margin-left:2px;
}
#faq_wrap ol {
     list-style:none;
     padding:0;
     margin:0;
}
#faq_wrap li{
     border:1px solid #E6EBF5;
     border-radius: 9px;
     margin-bottom: 10px;
}
#faq_con h3{
     color:#005193;
     font-size: 18px;
     position:relative;
     font-weight: 700;
}
#faq_con h3 p{
     font-weight: 500;
     color:#040810;
}
#faq_con li a {
     display:block;
     height:60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left:30px;
     box-sizing: border-box;
     padding-right:40px;
}
#faq_con li a img{
     width:13px;
     transition:all .3s;
}
#faq_con li a.on img{
     transform:rotate(180deg);
}
#faq_con .faq_alp{position:absolute;top:10px;left:0;display:inline-block;background:#333;border-radius:50%;width:30px;height:30px;line-height:30px;text-align:center;color:#fff}
#faq_con .faq_alp_a{background:#f3f3f3;color:#999}
#faq_con .con_inner {
     padding:12px 55px;
     padding-bottom:26px;
     box-sizing: border-box;
     border-radius: 6px;
     font-size: 15px;
     line-height: 19.8px;
     color: #202A3E;
     font-weight: 300;
}
#faq_con .con_closer {margin:10px 0 0;text-align:right}
#faq_con .closer_btn {margin:0;padding:0 5px;line-height:24px;border:0;background:#666;color:#fff}
.faq_tolist {padding:0 10px;text-align:right}
.faq_img {text-align:center}

#faq_sch {
     background: #F2F4F9; height:75px; border-radius: 100px;
     margin:auto;
     width:max-content;
     margin-bottom:40px;
}
#faq_sch .frm_input {
     width:630px; 
     background:none; 
     height:75px; 
     border:none; 
     border-top-left-radius: 100px;
     border-bottom-left-radius: 100px;
     font-size: 18px;
     padding:0 48px;
     color:#040810;
}
#faq_sch .frm_input::placeholder{
     color:#8496BA;
}
#faq_sch .btn_submit{
     height:75px;
     /* width:50px; */
     padding-right:48px;
     padding-left:20px;
     border-top-right-radius: 100px;
     border-bottom-right-radius: 100px;
     border:none;
     vertical-align: top;
     background:none;
 }
 @media(max-width:1100px){
     #faq_wrap {
          padding: 0;
        }
        #faq_con {
          padding: 0 13px;
          box-sizing: border-box;
        }
        #faq_con li a {
          padding-left: 20px ;
          padding-right: 14px ;
          height: 55px;
        }
        #faq_con h3 {
          font-size: 14px;
        }
        #faq_con .con_inner{
          padding:0 37px 26px 37px;
          font-size: 12px;
          line-height: 15.84px;;
        }
        #bo_sch form{
          margin-bottom:52px;
        }
 }