#hd.on .gnb_1da {
    font-weight: 600;
}
#mission3 ul li:nth-child(3) img {
    margin-top: 43px;
}
.swiper-wrapper {
    height: auto;
}
#map_container .map_content > div:last-of-type {
    padding-left: 45px;
}
#main_vid article h2 {
    font-size: 30px;
    line-height: 43px;
}
#main_vid button {
    margin-top: 60px;
}

@media (max-width: 880px) {
    #main_vid article {
        width: calc(100% - 46px);
    }
}

@media (max-width: 768px) {
    #intro_info {
        padding: 54px 20px;
        box-sizing: border-box;
    }
    #main_vid article h2 {
        font-size: 20px;
        line-height: 28px;
    }
}
